@import "master";
@import "kaisa-nav";
@import "kaisa-footer";

@import "woocommerce/buttons";
@import "woocommerce/checkout";
@import "woocommerce/after-checkout";
@import "woocommerce/cart";
@import "woocommerce/global";
@import "woocommerce/myaccount";
@import "woocommerce/products";
@import "woocommerce/notices";

@import "unyson/kaisa-button";
@import "unyson/kaisa-form";


body {
  color: $emperor;
  font-family: $font-stack;
  font-size: 17px;
  line-height: 1.66;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $dusty-gray;
  font-family: $font-title;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 0;
}

.wrapper {
  min-height: 550px;
  position: relative;
}


@media (max-width: 550px) {
  .container {
    padding: 0;
  }
}