.navbar {
  margin-bottom: 0;

  li a {
    color: $black;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;

    &:hover, &:focus {
      background-color: transparent;
      color: $falcon;
      font-weight: 600;
    }
  }
}

.container .navbar-header {
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-brand {
  float: none;
  padding: 15px 0;

  a {
    color: $black;
    font-family: $font-title;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
  }
}

.navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px solid $black;
    border-radius: 1px;
  }
}

.navbar-collapse.in {
  text-align: center;
}

.cart-item {
  display: inline-flex;
  margin-top: 1px;

    &:hover {
      text-decoration: none;
  }
}

.cart-contents span {
  color: $black;
  font-size: 13px;
  font-weight: 600;
  vertical-align: top;
}

nav .fa-shopping-bag {
  color: $black;
  padding: 16px 5px 0 5px;
  vertical-align: bottom;
}

@media (max-width: 767px) {
  .cart-item {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
  }
}