#footer-sidebar {
  font-size: 14px;
  padding: 80px 0 30px 0;
  color: $white;
}

#footer-sidebar ul  li {
  list-style: none;
  padding-left: 0;

  a {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 2;
    padding: 10px 0;
  }
}

.widget-title {
  color: $white;
  font-family: $font-stack;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
}

.menu {
  padding: 0;
}

#footer-sidebar1 {
  margin-bottom: 30px;
}

#footer-sidebar2 {
  margin-bottom: 30px;
}

#footer-sidebar3 {
  margin-bottom: 30px;
    a {
      color:$white;
    }
}

#footer-sidebar4 {
  text-align: center;
  margin-bottom: 30px;
  padding: 50px 30px;
  display: -webkit-inline-box;
}

.kaisa-footer {
  background-color: $concrete;
  width: 100%;
  margin-top: 30px;

  .copyright-text {
    font-size: 12px;
    clear: both;
    padding-top: 30px;
  }
}

.stripe-img {
  float: left;
}

.paypal-img {
  margin: 0 20px;
}

@media (max-width: 991px) {
  .stripe-img {
    float: none;
  }
  #footer-sidebar {
    text-align: center;
  }
}
