$font-title: 'Oranienbaum', serif;
$font-stack: 'Roboto', sans-serif;


$black: #000;
$falcon: #41857C;
$emperor: #555555;
$dusty-gray: #999;
$dark-gray: #8d8d8d;
$silver: #cccccc;
$alabaster: #fafafa;
$concrete: #585858;
$white: #ffffff;
$monza: #ba0116;

