.kaisas-btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 1.6;
  border-radius: 0 !important;
}
.kaisas-btn-1.fw-btn-black {
  background-color: rgba(0, 0, 0, .30);
  border: 0.5px solid $black;
  color: $white;
  font-family: $font-title;
  letter-spacing: 1px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 22px;
  width: 200px;
  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .50);
  }
}
@media (max-width: 768px) {
  .container {
    text-align: center;
  }
}
