.kaisas-submit {
  text-align: center;
}
.kaisas-submit input {
  background-color: $black;
  color: $white;
  padding: 5px;
  font-size: 20px;
  width: 20%;
  border: 1px solid $black;
  font-family: $font-stack;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  &:hover {
    background-color: $white;
    color: $black;
  }
}
.wrap-forms {
  width: 70%;
  margin: 0 auto;
  padding-right: 15px;
}
.fw-col-xs-12 .form-builder-item .header {
  text-align: center;
}
@media (max-width: 1199px) {
  .wrap-forms {
    width: 80%;
  }
  .kaisas-submit input {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .wrap-forms {
    width: 90%;
  }
  .kaisas-submit input {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .kaisas-submit input {
    width: 50%;
    font-size: 20px;
  }
}