.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  text-align: center;
  width: 70%;
  display: block;
  float: none;
  padding-top: 80px;
  margin: 0 auto;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  width: 100%;
  margin: 0 auto;
}

.woocommerce table.shop_table {
  border: none;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
  text-align: center;
}

.woocommerce a.remove {
  color: $monza!important;
}

.woocommerce-cart-form {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.return-to-shop {
 text-align: center;
}

.cart-empty {
  color: $dark-gray;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 50px;
}

.woocommerce a.remove:hover {
  background-color: $black;
}

.woocommerce ul.order_details{
  padding: 0;
}


@media (max-width: 991px) {
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .woocommerce-cart-form {
    width: 100%;
  }
}