.woocommerce form .form-row .required {
  color: $monza!important;
  text-decoration: none;
}

.kaisas-checkout {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.kaisas-checkout h3 {
  margin: 50px 20px;
  text-align: center;
}

.woocommerce-checkout #payment {
  background: none;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.woocommerce #payment .terms, .woocommerce #payment .wc-terms-and-conditions, .woocommerce-page #payment .terms, .woocommerce-page #payment .wc-terms-and-conditions {
  text-align: center;
  padding: 0 1em 0 0;
}

.woocommerce form .form-row .input-checkbox {
  position: relative;
}

@media (max-width: 991px) {
  .kaisas-checkout {
    width: 100%;
  }
}
