.row {
  margin: 0;
}

@media (max-width: 767px) {
  .page-template-custom-template .fw-divider-space {
  display: none;
}
}



.seriousslider-light .seriousslider-caption-buttons a:nth-child(2n+1), .seriousslider-light .seriousslider-caption-buttons a:hover:nth-child(2n) {
  color: #ffffff;
}

.seriousslider-light .seriousslider-caption-buttons a:nth-child(2n+1) {
  color: $white !important;
  background-color: rgba(0, 0, 0, .3)!important;
  border: 0.5px solid black;
  font-family: Oranienbaum, serif;
  letter-spacing: 1px;
  border-radius: 0;
  font-size: 22px;
}

