.account-navbar {
    background: none;
    text-align: center;
    border-top: 1px solid $concrete;
    border-bottom: 1px solid $concrete;
    background-color: $concrete;
    padding: 10px 0;

    .account-title h3 {
      font-size: 20px;
    }

    ul {
      list-style-type: none;
      display: inline-flex;
      margin: 0;
      padding: 0;

      a {
        color: $dusty-gray;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 15px;
        font-size: 13px;

        &:hover, &:focus, &:active {
          color: $falcon;
        }
      }
    }
  }

.woocommerce-account .woocommerce-MyAccount-content {
  float: none;
  width: 70%;
  margin: auto;
  padding: 50px 0;
}

.edit-pen {
  width: 100%;
}

.order-again {
  display: none;
}

.myaccount-addresses {
  text-align: center;
  margin-top: 30px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  padding: 10px;
  border: 1px solid $silver;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid $silver;
  border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: $alabaster;
    color: inherit;
    border: none;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

.change-password {
  padding: 20px;
}

.woocommerce-ResetPassword {
  width: 50%;
  padding: 50px 0;
  margin: auto;
}

@media (max-width: 1199px) {
  .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    width: 60%;
  }
  .account-navbar ul li a {
    font-size: 10px;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
  }
  .woocommerce-account .addresses .title h3 {
    float: none;
  }
}

@media (max-width: 768px) {
  .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    width: 80%;
    border: none;
  }
  .woocommerce-ResetPassword {
    width: 100%;
    padding: 50px 0;
  }
  .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    width: 100%;
    border: none;
  }
}







