.page-id-27 .fw-flash-messages .fw-flash-type-success {
  display: none;
}

.woocommerce-message::before {
  display: none;
}

.woocommerce-message {
  background-color: transparent;
  border-top: none;
  text-align: center;
}

.woocommerce-cart div.woocommerce-message {
  border-right-color: transparent;
  overflow: hidden;
  position: relative;
  display: none;
}
div.woocommerce-message p {
  max-width: 700px
}

.woocommerce-checkout .woocommerce-info {
  background-color: transparent;
  text-align: center;
  border:none;
}

.woocommerce-checkout .woocommerce-info::before {
  display: none;
}

.woocommerce-checkout .woocommerce-error::before {
  position: absolute;
  top: 0;
  left: 49%;
}

.woocommerce-checkout .woocommerce-error {
  background-color: transparent;
  border:none;
  padding-top: 30px 0;
}

.woocommerce-NoticeGroup-checkout, .woocommerce-account .woocommerce-error  {
  text-align: center;
  margin: auto;
  width: 50%;
}
.woocommerce-error {
  background-color: transparent;
  border:none;
  margin: auto;
}

.fw-flash-messages .fw-flash-type-success {
  color: $black !important;
}

.single-product .woocommerce-error {
  background-color: transparent;
  border-top: none;
  padding-left: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
  display: none;
}

@media (max-width: 1199px) {
  .woocommerce-NoticeGroup-checkout, .woocommerce-account .woocommerce-error  {
    width: 80%;
  }
}

@media (max-width: 658px) {
  .woocommerce-NoticeGroup-checkout, .woocommerce-account .woocommerce-error  {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .single-product .woocommerce-error {
    font-size: 12px;
    top: 100%;
    left: 28%;
  }
}

@media (max-width: 414px) {
  .single-product .woocommerce-error {
    top: 97%;
    left: 7%;
  }
}

@media (max-width: 375px) {
  .single-product .woocommerce-error {
    top: 675px;
    left: 5%;
    padding-left: 32px;
  }
}