.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  float: left;
  position: relative;
  width: 30.8%;
  padding: 0;
  margin-left: 0;
  text-align: center;
}

.woocommerce ul.products li.product a img {
  border: 3px solid $black;
}

.woocommerce a.added_to_cart {
  display: none;
}

.woocommerce .woocommerce-result-count {
  display: none;
}

.woocommerce .quantity .qty {
  height: 31px;
}

.woocommerce ul.products li.product .price {
  color: $falcon;
  font-size: 1em;
  font-weight: 600;

}

.sku_wrapper {
  display: none;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: $falcon;
  font-family: $font-stack;
  font-size: 22px;
  font-weight: 800;

}

@media (max-width: 768px) {
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 49%;
  }
  .woocommerce div.product div.summary {
    text-align: center;
  }
}


@media (max-width: 767px) {
  .page-id-117 .woocommerce ul.products li.product:nth-last-child(1), .page-id-117 .woocommerce-page ul.products li.product:nth-last-child(1) {
    width: 100%;
  }
}

