.button-container {
  text-align: center;
}

.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce a.button,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled[disabled] {
  color: $black;
  font-family: $font-stack;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 0;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $black;
  font-family: $font-stack;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 50%;
  border-radius: 0;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.woocommerce ul.products li.product .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button  {
  background-color: $white;
  border: 1px solid $black;
  margin-top: 1em;
  font-family: $font-stack;
  border-radius: 0;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.woocommerce div.product form.cart .button {
  float: none;
}

@media (max-width: 555px) {
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt {
    width: 80%;
  }
}

  @media (max-width: 500px) {
    .woocommerce ul.products li.product .button {
      font-size: 15px;
    }
  }
